<div id="<%= dom_id referral %>">
  <p>
    <strong>Toemail:</strong>
    <%= referral.toEmail %>
  </p>

  <p>
    <strong>Fromemail:</strong>
    <%= referral.fromEmail %>
  </p>

  <p>
    <strong>Referrallink:</strong>
    <%= referral.referralLink %>
  </p>

</div>
