<h1>Editing referral</h1>

<%= render "form", api_v1_referral: @api_v1_referral %>

<br>

<div>
  <%= link_to "Show this referral", @api_v1_referral %> |
  <%= link_to "Back to referrals", api_v1_referrals_path %>
</div>
